.row
  .col-xs-12
    - if @question.errors.any?
      .alert.alert-danger
        %h4= "#{pluralize(@question.errors.count, "error")}:"
        %ul
          - @question.errors.full_messages.each do |msg|
            %li= msg
    %h3 Sign in
    = form_for(@question, role: 'form') do |f|
      .form-group
        = f.label :title
        = f.text_field :title, :autofocus => true, class: 'form-control', placeholder: 'Enter Question'
      .form-group
        = f.label :password
        = f.password_field :password, :autofocus => true, class: 'form-control', placeholder: 'Enter Answer'
      = f.submit "Save", class: 'btn btn-primary btn-default'