.row
  .col-xs-12
    .row
      .col-xs-12
        %h3 Enter Your Question
    .row
      .col-xs-8
        - if @question.errors.any?
          .alert.alert-danger
            %h4= "#{pluralize(@question.errors.count, "error")}:"
            %ul
              - @question.errors.full_messages.each do |msg|
                %li= msg
        = form_for(@question, role: 'form') do |f|
          .form-group
            = f.label :title, 'Question'
            = f.text_field :title, :autofocus => true, class: 'form-control', placeholder: 'Enter Question'
            = f.label :description, 'Description'
            = f.text_area :description, :autofocus => true, class: 'form-control', placeholder: 'Enter Description', rows: 5
          .form-group
            = f.label :attachment
            = f.file_field :attachment, class: 'form-control'
          = f.submit "Post Your Question", class: 'btn btn-primary btn-default'
      .col-xs-4
        %h4 How to Ask
        %p Is your question about PUP?
        %p We prefer questions that can be answered, not just discussed.
        %p Provide details