.row.question_show
  .col-xs-1
    #vote_status.list-group
      = render 'voteable_status', question: @question
  .col-xs-11
    %h2= @question.title
    %p
      by
      = link_to user_name(@question.try(:user)), @question.try(:user)
    %p
      - if can? :update, @question
        = link_to 'Edit Question', edit_question_path(@question), class: 'btn btn-warning btn-sm'
      - if can? :destroy, @question
        = link_to 'Destroy', @question, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'
    = h @question.description
    .clearfix
    - unless @question.attachment_file_name.nil?
      %h3 Attachment
      %p
        - if current_user
          = link_to @question.attachment_file_name, @question.attachment.url(), target: :blank
        - else
          %p You need to be logged in to view attachment.
  .col-xs-1
  .col-xs-11
    %h3 Answers
    - if current_user
      = form_for(@answer, url: question_answers_path(@question), role: 'form') do |f|
        .form-group
          = f.text_area :body, class: 'form-control', placeholder: 'Enter Answer', rows: 5
        - if @question.user.eql?(current_user)
          = f.submit "Answer your own Question", class: 'btn btn-primary btn-default'
        - else
          = f.submit "Post your Answer", class: 'btn btn-primary btn-default'
    - @question.answers.each do |answer|
      .row
        .col-xs-12
          .answer
            =answer.body
            .text-right
              .row
                .col-xs-12
                  Answered body
                  =link_to user_name(answer.user), answer.user


