.row
  .col-xs-12
    .media
      = link_to @user, class: 'pull-left' do
        = @user.avatar_file_name.nil? ? holder_tag('200x200', 'User\'s Avatar in Unavailable') : image_tag(@user.avatar.url(:medium), class: 'media-object')
      .media-body
        %h4.media-heading= user_name @user
        = h @user.description
        %br
        - if can? :update, @user
          = link_to 'Update Information', edit_user_path(@user), class: 'btn btn-warning btn-sm'

.row
  .col-xs-12
    %h2
    .panel.panel-default
      .panel-heading
        %strong Questions
      .panel-body
        - if @user.questions.any?
          %p This user has been very busy indeed...
        - else
          %p This user is enlightened. No questions here!
      %table.table.table-condensed
        %tr
          %th #
          %th Question
          %th Answered?
          %th Date
        - @user.questions.each do |question|
          %tr
            %td= question.id
            %td= link_to question.title, question
            %td= question.answered? ? 'Answered' : 'Unanswered'
            %td= question.created_at.strftime("%B %d, %Y")