!!!
%html
  %head
    %title PUP - Knowledgebase
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'PUP Knowledgebase', root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li=link_to "About", about_path
          %ul.nav.navbar-nav.navbar-right
            - unless current_user
              %li=link_to 'Sign Up', new_user_registration_path
              %li=link_to 'Sign In', new_user_session_path
            -if current_user
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = "#{current_user.full_name.blank? ? current_user.email : current_user.email}"
                  %b.caret
                %ul.dropdown-menu
                  - if current_user
                    %li=link_to 'Edit Profile', edit_user_path(current_user)
                    %li=link_to 'Sign Out', destroy_user_session_path, method: :delete
          =form_for :question, url: new_question_path, method: :get, html: {class: 'navbar-form navbar-left', role: 'search'} do |f|
            =submit_tag 'As A Question', class: 'btn btn-default btn-primary'
    .container
      .row
        .col-xs-12
          - if flash.notice
            .alert.alert-success
              =flash.notice
          - if flash.alert
            .alert.alert-danger
              =flash.alert
      = yield
    .footer
      .container
        .row
          .col-xs-3 test
          .col-xs-3 test
          .col-xs-3 test
          .col-xs-3 test